#phone {
  background-image: url("../../assets/pics/phone.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: 264px;
}
#phone-screen {
  background: #fbfbfb;
  height:  312px;
  width: 224px;
  margin-left: -4px;
  margin-top: -535px;
  max-height: 400px;
  overflow-y: auto;
}
img {
  width: 50px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
.message-container {
  display: inline;
}
.message {
  color: white;
  cursor: pointer;
  border-radius: .4em;
  padding: 4px;
  max-width: 168px;
  margin-top: 11px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.robot{
    background: #54c3f8;
    animation: slide-up 2s ease;
}
.user {
    background: #00D14A;
    animation: slide-up 1.4s ease;
}
.screen::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  
}
.screen::-webkit-scrollbar-track-piece {
  background: rgb(194, 194, 194);
}
.screen::-webkit-scrollbar-thumb:vertical {
  background:rgb(121, 121, 121);
  height:9px;
}
#keyboard{
    width: 224px;
}
#keyboard-width{
  width: 224px;
}
#textarea-reply{
  resize: none;
}
#iterator{
  margin-bottom: 2px;
}
.user-div{
  float: right;
}
.input-reply{
  height: 35px;
}

#typing{
  text-decoration: underline;
  width: 221px;
  margin-left: -4px;
  background-color: #fbfbfb;
  font-style: italic;
}
#robot-reply{
  margin-top: 26px;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}