<div id="chat-container">
  <div id="phone">
  </div>
  <div id="phone-screen" class="screen">
    <div id="iterator" *ngFor="let message of quiz">
      <!-- robot messages -->
      <div *ngIf="message.number === 0 || quiz[message.number - 1].reply !== null" id="robot">
        <div class="row">
          <div matTooltip="User: Luan Sousa" class="message-container">
            <img src="assets/pics/luan.png">
          </div>
          <div class="message robot message-container">
            <span>{{message.question}}</span>
          </div>
        </div>
      </div>

      <!-- user messages -->
      <div *ngIf="message.reply !== null" class="user-div" id="user">
        <div class="row">
          <div class="message user message-container">
            <span> {{message.reply}}</span>
          </div>
          <div matTooltip="User: Panqueca" class="message-container">
            <img src="assets/pics/dog.jpeg">
          </div>
        </div>
      </div>

      <!-- robot reply messages -->
      <!-- <div *ngIf="message.reply !== null" class="user-div" id="robot-reply">
        <div matTooltip="User: Panqueca" class="message-container">
          <img src="assets/pics/dog.jpeg">
        </div>
        <div class="row">
          <div class="message user message-container">
            <span> {{message.reply}}</span>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <!-- form to each question -->
  <div id="keyboard">
    <div *ngFor="let ques of quiz">
      <div *ngIf="(ques.number === 0 || quiz[ques.number - 1].reply !== null) && (ques.type === 'text' && ques.reply === null)"
        id="string">
        <mat-form-field id="keyboard-width">
          <textarea matInput (keyup.enter)="updateResp(ques,fieldText.value)" #fieldText name="text-area" id="textarea-reply"
            placeholder="Keyboard comments"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="(ques.number === 0 || quiz[ques.number - 1].reply !== null) && (ques.type === 'number' && ques.reply === null)"
        id="number">
        <mat-form-field id="keyboard-width">
          <input matInput (keyup.enter)="updateResp(ques,fieldNumber.value)" #fieldNumber name="text-number" class="input-reply"
            id="number-reply" type="number" placeholder="Age">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>