/* Variables */

$white : #fbfbfb;


/*  Id's */

#response-array {
  margin-top: 117px;
}

#div-mess {
  display: inline-flex;
}

#keyboard {
  width: 224px;
}

#keyboard-width {
  width: 224px;
}

#textarea-reply {
  resize: none;
}

#iterator {
  margin-bottom: 2px;
}

#phone {
  background-image: url("../../assets/pics/phone.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: 264px;
  margin-top: 30px;
}

#phone-screen {
  background: $white;
  height: 312px;
  width: 224px;
  margin-left: -4px;
  margin-top: -535px;
  max-height: 400px;
  overflow-y: auto;
}

#typing {
  text-decoration: underline;
  width: 221px;
  margin-left: -4px;
  background-color: $white;
  font-style: italic;
}

#robot-reply {
  margin-top: 26px;
}

#btn-submit {
  background-color: #ff4081 !important;
}




/* Classes */

.woman {
  background: #f5667f;
  transition: color 1s;
}

.input-reply {
  height: 35px;
}

.message-container {
  display: inline;
}
.message {
  color: $white;
  cursor: pointer;
  border-radius: 0.4em;
  padding: 4px;
  max-width: 168px;
  margin-top: 11px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.robot {
  background: #54c3f8;
  animation: slide-up 2s ease;
}

.user {
  background: #00d14a;
  animation: slide-up 1.4s ease;
  word-break: break-all;
}

.screen::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.screen::-webkit-scrollbar-track-piece {
  background: rgb(194, 194, 194);
}

.screen::-webkit-scrollbar-thumb:vertical {
  background: rgb(121, 121, 121);
  height: 9px;
}


/* Others */

img {
  width: 50px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
