<div align="center" id="chat-container">
  <!-- Iphone Image -->
  <div id="phone">
  </div>
  <div id="phone-screen" class="screen">
    <div id="iterator" *ngFor="let message of quiz">
      <!-- robot messages -->
      <div class="robot-class" *ngIf="message.number === 0 || quiz[message.number - 1].reply !== null" id="robot">
        <div class="row">
          <div matTooltip="User: Luan Sousa" class="message-container">
            <img src="assets/pics/luan.png">
          </div>
          <div class="message robot message-container">
            <span>{{message.question}}</span>
          </div>
        </div>
      </div>

      <!-- user messages -->
      <div *ngIf="message.reply !== null" align="right" class="user-div" id="user">
        <div id="div-mess">
          <div [ngClass]="{'woman': isWoman}" class="message user message-container">
            <span> {{message.reply}}</span>
          </div>
          <div matTooltip="User: Panqueca" class="message-container">
            <img src="{{photoUser}}">
          </div>
        </div>
      </div>

      <!-- robot reply messages -->
      <div *ngIf="message.reply !== null && message.comments !== null" id="robot-reply">
        <div class="row">
          <div matTooltip="User: Luan Sousa" class="message-container">
            <img src="assets/pics/luan.png">
          </div>
          <div class="message robot message-container">
            <span>{{message.comments}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- div to alert user about typing -->
  <div id="typing"><small>{{typingAlert}}</small></div>

  <!-- field to each question -->
  <div id="keyboard">

    <!-- iterator -->
    <div *ngFor="let ques of quiz">

      <!-- String type Question -->
      <div *ngIf="(ques.number === 0 || quiz[ques.number - 1].reply !== null) && (ques.type === 'text' && ques.reply === null)"
        id="string">
        <mat-form-field id="keyboard-width">
          <textarea matInput (keyup.enter)="updateResp(ques,fieldText.value)" #fieldText name="text-area" id="textarea-reply"
            placeholder="Keyboard"></textarea>
        </mat-form-field>
      </div>

      <!-- Number type question -->
      <div *ngIf="(ques.number === 0 || quiz[ques.number - 1].reply !== null) && (ques.type === 'number' && ques.reply === null)"
        id="number">
        <mat-form-field id="keyboard-width">
          <input matInput (keyup.enter)="updateResp(ques,fieldNumber.value)" #fieldNumber name="text-number" class="input-reply"
            id="number-reply" type="number" placeholder="Age">
        </mat-form-field>
      </div>

      <!-- sex type question -->
      <div *ngIf="(ques.number === 0 || quiz[ques.number - 1].reply !== null) && (ques.type === 'gender' && ques.reply === null)"
        id="gender">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle #m (click)="updateResp(ques,m.value)" value="Masculine">Masculine</mat-button-toggle>
          <mat-button-toggle #f (click)="updateResp(ques,f.value)" value="Feminine">Feminine</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <!-- Submit form -->
    <div *ngIf="quiz[quiz.length -1].reply !== null">
      <button mat-flat-button id="btn-submit" (click)="onSubmit()">
        <mat-icon>send</mat-icon>Send!
      </button>
      <button mat-flat-button id="btn-undo" (click)="undoForm()">
        <mat-icon>
          delete_forever</mat-icon>Undo!
      </button>
    </div>
  </div>
  <!-- Response array -->
  <div id="response-array" *ngIf="responseArray.length > 0">
    <span>{{responseArray | json}} </span>
  </div>
</div>