<div id="chat-container">
  <div id="phone">
  </div>
  <div id="phone-screen" class="screen">
    <div id="iterator" *ngFor="let quiz of quiz">
      <!-- robot messages -->
      <div id="robot">
        <div class="row">
          <div class="message-container">
            <img src="assets/pics/luan.png">
          </div>
          <div class="message robot message-container">
            <span>{{quiz.question}}</span>
          </div>
        </div>
      </div>

      <!-- user messages -->
      <div style="float: right;" *ngIf="quiz.reply !== null" id="user">
        <div class="row">
          <div class="message user message-container">
            <span> {{quiz.reply}}</span>
          </div>
          <div class="message-container">
            <img src="assets/pics/luan.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="keyboard">
    <mat-form-field id="keyboard-width">
      <textarea matInput id="textarea-reply" placeholder="Keyboard"></textarea>
    </mat-form-field>
  </div>
</div>