#phone {
  background-image: url("../../assets/pics/phone.jpg");
  background-repeat: no-repeat;
  height: 600px;
}
#phone-screen {
  background: #fbfbfb;
  height: 399px;
  width: 224px;
  margin-left: 18px;
  margin-top: -535px;
  max-height: 400px;
  overflow-y: auto;
}
img {
  width: 50px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}
.message-container {
  display: inline;
  float: left;
}
.message {
  color: white;
  cursor: pointer;
  border-radius: 4%;
  padding: 4px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.robot{
    background: #54c3f8;
}
.user {
    background: #00D14A;
}
.screen::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  
}
.screen::-webkit-scrollbar-track-piece {
  background: rgb(194, 194, 194);
}
.screen::-webkit-scrollbar-thumb:vertical {
  background:rgb(121, 121, 121);
  height:9px;
}